* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image:linear-gradient(rgba(41, 130, 2, 0.6),rgba(241, 221, 106, 0.6));

}

.header {
    display: flex;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    text-align: start;
  }

.logo-img {
    width: 200px;
    margin-top: 8px;
    cursor: pointer;
}

.side-header{
  display: flex;
  align-items: end;
}

.account-img{
  width: 50px;
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.not-img{
width: 40px;
margin-left: 20px;
margin-right: 5px;
margin-bottom: 10px;
cursor: pointer;
}

.shopping-cart-img{
  width: 50px;
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 5px;
  cursor: pointer;
}

.search-input {
    display: block;
    width: 400px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid #0b9a46;
    border-radius: 24px;
}

.menu {
    display: flex;
    justify-content: center;
    border: 3px solid #08750f;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    background-image: linear-gradient(rgba(230, 244, 208, 0.4),rgba(243, 232, 194, 0.4)),url(resources/m.jpg);
}
  
a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #0d5307;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: 18px;
}
  
a:hover:not(.logo-a, .account-a, .grid-item) {
  background-color: #0ba30d;
  color: #fff;
  border-radius: 5px;
}

.menu a.active{
  background-color: #333;
  color: #0ba30d;
  border-radius: 5px;
}

/* the 4 images with flowers // the products */
.grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    background-image: linear-gradient(rgba(100, 208, 136, 0.4),rgba(119, 173, 61, 0.4));
    color: #333;
    padding: 20px;
  }
  
  .grid-item {
    width: 200px;
  }
  
  .grid-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(54, 116, 75, 0.4); 
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.613);
  }

  .grid-item a:hover {
    border-radius: 25px;
  }

  /* filter button */
  .filter-btn{
    background-color:#f2f2f2;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0px;
    font-size: 14px;
    border-color:darkgray;
    cursor:pointer;
    margin: 15px;
  }

  .filter-btn:hover, .filter-btn:focus {
    background-color:rgb(91, 215, 99);
  }

 /* The search field */
 #filterInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  /* The search field when it gets focus/clicked on */
  #filterInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .filter-dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-fcontent {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-fcontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-fcontent a:hover {background-color: #f1f1f1}
  
/* sort by button */
  .sortby-btn{
    margin:20px 30px 0 20px;
    background-color:#f2f2f2;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0px;
    font-size: 14px;
    border-color:darkgray;
    cursor:pointer;
    margin: 15px;
}

  .sortby-btn:hover, .sortby-btn:focus {
    background-color:rgb(91, 215, 99);
  }

  /* The search field */
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .sortby-dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-scontent {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-scontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-scontent a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


  /* dropdown [shopping cart & notifications] */
  .dropdown,
  .dropdown2 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content,
  .dropdown-content2 {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #105712;
  }
  
  .dropdown:hover .dropdown-content,
  .dropdown2:hover .dropdown-content2 {
    display: block;
    background-color: #f2f2f2;
  }
  
  .account-img:hover,
  .not-img:hover,
  .shopping-cart-img:hover {
    background-color: #0ba30d;
    border-radius: 5px;
  }

   /* Styles for screens smaller than 768px responsive*/
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .logo-wrapper {
    margin-top: 20px;
  }

  .logo-img {
    display: block;
    width: 30%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .search-input {
    width: 80%;
    margin-top: 20px;
    margin-left: auto;  
    margin-right: auto;    
  }
  
  .side-header {
    margin-top: 20px;  
    margin-right: 20px;  
    margin-left: auto;
    margin-right: auto;  
  }
  
  .menu {
    margin-top: 20px;
  }
  
}
